.dc.horizontal {
  font-weight: 500;
  display: inline-flex;
  flex: 1 1 auto;
  width: 100%;
  gap: 1em;
  margin-bottom: 20px;
  * {
    margin-bottom: 0;
  }
}

div.dc.divider {
  margin: 32px 0;
  width: 100%;
  height: 1px;
  border-top: thin solid var(--dc-background-modifier-accent);
}

div.dc.space {
  height: 48px;
}
