h1.dc {
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
}
h2.dc {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 0;
}
h3.dc {
  line-height: 24px;
  font-weight: 500;
  margin-top: 0;
}
h4.dc {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin-top: 0;
}
h5.dc {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  color: var(--dc-channels-default);
  font-family: var(--dc-font-display);
  margin: 0;
  user-select: none;
  margin-bottom: 8px;
}
.dc.title {
  font-family: var(--dc-font-display);
  color: var(--dc-header-primary);
  margin-bottom: 20px;
}
p.dc {
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--dc-header-secondary);
}
label.dc {
  margin-top: 0;
  margin-bottom: 8px;
  user-select: none;
  color: var(--dc-header-secondary);
}